.frame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 2px black solid;
    height: 300px;
    width: 200px;
    position: relative;
    left: 200px;
    top: 50px;
}
